[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-fabric-committers
	read = group GitHub Replication
[project]
	description = Fabric base image for Docker, Vagrant, et al
[access "refs/tags/*"]
	push = group ldap/hyperledger-gerrit-fabric-committers
	pushTag = group ldap/hyperledger-gerrit-fabric-committers
	pushSignedTag = group ldap/hyperledger-gerrit-fabric-committers
