[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-fabric-committers
	read = group GitHub Replication
[access "refs/heads/*"]
	create = group ldap/hyperledger-gerrit-fabric-committers
[project]
	description = Fabric base image for Docker, Vagrant, et al
[access "refs/tags/*"]
	push = group ldap/hyperledger-gerrit-fabric-committers
	createTag = group ldap/hyperledger-gerrit-fabric-committers
	createSignedTag = group ldap/hyperledger-gerrit-fabric-committers
